include LICENSE
include README.md
include CHANGELOG.md
include QUICKSTART.md
include CONTRIBUTING.md
recursive-include examples *
recursive-include benchmarks *
recursive-include tests *
recursive-exclude * __pycache__ *.py[cod]
